{
    "msgtype": "m.image",
    "url": "{{ mxc_uri }}",
    "info": {
        "mimetype": "{{ mimetype }}",
        "size": {{ size }},
        "w": {{ width }},
        "h": {{ height }}
    },
    "body": "{{ text }}"
}